@font-face {
    font-family: 'font';
    font-weight: 100;
    src: url(../statics/Estedad-Thin.woff2) format(woff2),
        url(../ttf/Estedad-Thin.ttf) format(truetype);
}

@font-face {
    font-family: 'font';
    font-weight: 200;
    src: url(../statics/Estedad-SemiBold.woff2) format(woff2),
        url(../ttf/Estedad-SemiBold.ttf) format(truetype);
}

@font-face {
    font-family: 'font';
    font-weight: 300;
    src: url(../statics/Estedad-Regular.woff2) format(woff2),
        url(../ttf/Estedad-Regular.ttf) format(truetype);
}

@font-face {
    font-family: 'font';
    font-weight: 400;
    src: url(../statics/Estedad-Medium.woff2) format(woff2),
        url(../ttf/Estedad-Medium.ttf) format(truetype);
}

@font-face {
    font-family: 'font';
    font-weight: 500;
    src: url(../statics/Estedad-Light.woff2) format(woff2),
        url(../ttf/Estedad-Light.ttf) format(truetype);
}

@font-face {
    font-family: 'font';
    font-weight: 600;
    src: url(../statics/Estedad-ExtraLight.woff2) format(woff2),
        url(../ttf/Estedad-ExtraLight.ttf) format(truetype);
}

@font-face {
    font-family: 'font';
    font-weight: 700;
    src: url(../statics/Estedad-ExtraBold.woff2) format(woff2),
        url(../ttf/Estedad-ExtraBold.ttf) format(truetype);
}

@font-face {
    font-family: 'font';
    font-weight: 800;
    src: url(../statics/Estedad-Bold.woff2) format(woff2),
        url(../ttf/Estedad-Bold.ttf) format(truetype);
}

@font-face {
    font-family: 'font';
    font-weight: 900;
    src: url(../statics/Estedad-Black.woff2) format(woff2),
        url(../ttf/Estedad-Black.ttf) format(truetype);
}

* {
    font-family: 'font';
}

body {
    overflow-x: hidden;
}

.nav-btn {
    width: 6.5rem;
    height: 2.7rem;
    display: flex;
    padding: 0.625rem 2.75rem 1rem 2.75rem;
    justify-content: center;
    align-items: center;
    /* gap: 0.625rem; */
    border-radius: 0.625rem;
    border: 3px solid #10C141;
    background: rgba(0, 0, 0, 0.50);
    color: #10C141;
    text-align: right;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nav-btn:hover {
    border: 3px solid #10C141;
    background: rgba(0, 0, 0, 0.50);
    color: #10C141;
}

.nav-svg {
    width: 5rem;
    height: 3rem;
}

.image{
    background: center center;

    width: 100vw;
    height: 45rem;
    flex-shrink: 0;
    box-sizing: border-box;
}

.about-image{
    background-image: url("../image/1.png");
}

.blog-image{
    background-image: url("../image/blog.png");
}
/* .imag-about{
    background-size: cover;
    box-sizing: border-box;
    object-fit: cover;
} */

.border-title{
    border: 5px dashed white;
}
.about-p {
    color: #1E1E1E;
    text-align: justify;
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 200;
    line-height: 200.023%;
    letter-spacing: 0.02438rem;
    padding: 10rem;
}

.about-h1 {
    color: #F5F5F5;
    text-align: right;
    font-size: 5.25rem;
    font-style: normal;
    font-weight: 560;
    line-height: normal;
    letter-spacing: 0.105rem;
    top: 40%;
}