@font-face {
    font-family: 'font';
    font-weight: 100;
    src: url(../statics/Estedad-Thin.woff2) format(woff2),
        url(../ttf/Estedad-Thin.ttf) format(truetype);
}

@font-face {
    font-family: 'font';
    font-weight: 200;
    src: url(../statics/Estedad-SemiBold.woff2) format(woff2),
        url(../ttf/Estedad-SemiBold.ttf) format(truetype);
}

@font-face {
    font-family: 'font';
    font-weight: 300;
    src: url(../statics/Estedad-Regular.woff2) format(woff2),
        url(../ttf/Estedad-Regular.ttf) format(truetype);
}

@font-face {
    font-family: 'font';
    font-weight: 400;
    src: url(../statics/Estedad-Medium.woff2) format(woff2),
        url(../ttf/Estedad-Medium.ttf) format(truetype);
}

@font-face {
    font-family: 'font';
    font-weight: 500;
    src: url(../statics/Estedad-Light.woff2) format(woff2),
        url(../ttf/Estedad-Light.ttf) format(truetype);
}

@font-face {
    font-family: 'font';
    font-weight: 600;
    src: url(../statics/Estedad-ExtraLight.woff2) format(woff2),
        url(../ttf/Estedad-ExtraLight.ttf) format(truetype);
}

@font-face {
    font-family: 'font';
    font-weight: 700;
    src: url(../statics/Estedad-ExtraBold.woff2) format(woff2),
        url(../ttf/Estedad-ExtraBold.ttf) format(truetype);
}

@font-face {
    font-family: 'font';
    font-weight: 800;
    src: url(../statics/Estedad-Bold.woff2) format(woff2),
        url(../ttf/Estedad-Bold.ttf) format(truetype);
}

@font-face {
    font-family: 'font';
    font-weight: 900;
    src: url(../statics/Estedad-Black.woff2) format(woff2),
        url(../ttf/Estedad-Black.ttf) format(truetype);
}

* {
    font-family: 'font';
}

body {
    overflow-x: hidden;
}

.nav-btn {
    width: 6.5rem;
    height: 2.7rem;
    display: flex;
    padding: 0.625rem 2.75rem 1rem 2.75rem;
    justify-content: center;
    align-items: center;
    /* gap: 0.625rem; */
    border-radius: 0.625rem;
    border: 3px solid #10C141;
    background: rgba(0, 0, 0, 0.50);
    color: #10C141;
    text-align: right;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nav-btn:hover {
    border: 3px solid #10C141;
    background: rgba(0, 0, 0, 0.50);
    color: #10C141;
}

.nav-svg {
    width: 5rem;
    height: 3rem;
}

.image {
    background: center center;

    width: 100vw;
    height: 45rem;
    flex-shrink: 0;
    box-sizing: border-box;
}

.about-image {
    background-image: url("../image/1.png");
}

.blog-image {
    background-image: url("../image/blog.png");
}

/* .imag-about{
    background-size: cover;
    box-sizing: border-box;
    object-fit: cover;
} */

.border-title {
    border: 3px dashed white;
}

.modal-content {
    background-color: #10C141;
}

hr {
    height: 1rem;
    border-top: 4px solid;
    color: #AFAFAF;
    opacity: 1;
}

input {
    /* padding: 0.8125rem 1rem 0.8125rem 5rem; */
    border-radius: 0.625rem;
    background: #F5F5F5;
    border: none;
}

.login2-input{
    width: 3.4375rem;
    height: 3.4375rem;
    border: .5px solid rgba(128, 128, 128, .5);
    padding: 1rem;
    
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button {
    display: flex;
    width: 18.6rem;
    padding: 0.6rem 0rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.625rem;
    background: #2D2D2D;
}

.modal-content {
    height: 43rem;
}

.Description h3 {
    font-weight: 300;
} */

.border-title {
    border: 5px dashed white;
}

.about-p {
    color: #1E1E1E;
    text-align: justify;
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 200;
    line-height: 200.023%;
    letter-spacing: 0.02438rem;
    padding: 8rem;
    padding-top: 0;
}

.about-p1 {
    padding-top: 5rem;
}

.about-h1 {
    color: #F5F5F5;
    text-align: right;
    font-size: 5.25rem;
    font-style: normal;
    font-weight: 560;
    line-height: normal;
    letter-spacing: 0.105rem;
    top: 40%;
}

/* ///////////////////////////////// */

@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Megrim);

html,
body {
    background: rgb(255, 255, 255);
    font-family: Megrim, cursive;
}

hr {
    height: 1px;
    background: white;
    border: none;
    outline: none;
    margin: 3em 3em 5em;
    position: relative;

    &:before {

        content: attr(data-symbol);
        position: absolute;
        top: 0;
        left: 50%;
        color: white;
        padding: 0.5em 3em;
        @include transform(translate(-50%, -50%));

    }
}

hr#eight {
    background: transparent;
    border-bottom: 2px dashed white;
    width: 100%;
    margin: 0 auto;

    &:before {
        top: 3px;
        left: 0;
        padding-right: 2em;
    }
}

/* ////////////////////////////////////// */
.blog-h1 {
    margin-right: 5rem;
    margin-bottom: 5rem;
}

.border {
    height: 100px;
    width: 100px;
    border-right: #10C141 5px solid;
}

.line-svg {
    top: 120%;
}

/* blog image 1 */

.blog-image1 {
    background-image: url("../image/Rectangle\ 6.png");
}

.cards-div {
    padding: 10rem;
}

.card-h {
    color: #000;
    /* font-size: 1.1rem; */
    font-style: normal;
    /* font-weight: 610; */
    line-height: normal;
}
.bg-cards{
    background: #D7D7D7;
}
/* .cards-radius{
    border-radius: 1.875rem;
}
.cards-radius-bottom{
    border-end-end-radius: 0;
    border-end-start-radius: 0;
} */
.top-radius-img{
    border-radius: 1.875rem 1.875rem 0 0;
}
.div-radius{
    border-radius: 1.875rem;
}

.contact-image{
    background: url(../image/Rectangle\ 10.png);
}
.contact-h1{
    text-align: right;
    font-size: 5.25rem;
    font-style: normal;
    font-weight: 560;
    line-height: normal;
    top: 40%;
    right: 10%;
}
@media screen and (max-width: 1350px) {
    .contact-h1{
        top: 70% !important;
    }
}
.m-a-span{
    color: #10C141;
}
.btn-color{
    background-color: #10C141;
    width: 13rem;
height: 3rem;
}
.text-align{
    width: 80%;
}
.login-body {
    height: 100vh;
}
.right-box {
    width: 30%;
    background-color: #2D2D2D;
}
.first-line {
    color: #10C141;
    font-family: Staatliches;
    font-size: 3.75rem;
    font-weight: 400;
    letter-spacing: 1.6rem;
}
.second-line {
    color: #FFF;
    font-family: Staatliches;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 1.6rem;
}
.left-box h1 {
    color: #10C141;
    margin-bottom: 11rem;
    font-weight: 200;
}
input {
    /* border-radius: 0.625rem;
    border: 1px solid #10C141;
    background: #D9D9D9; */
}
button {
    width: 26.25rem;
    height: 3.4375rem;
    padding: 0.0625rem 0rem;
    border-radius: 0.625rem;
}

.green-button{
    background: #10C141;
}
.hidden-box p {
    color: #10C141;
    font-size: 5.1875rem;
    font-weight: 560;
    line-height: normal;
    letter-spacing: 0.2075rem;
}